.sidebar {
  background-color: #324960;
  top: 0;
  left: 0;
  color: white;
  position: fixed;
  transition: 0.3s ease-in-out;
  padding-top: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.sidebar li {
  list-style: none;
  padding: 10px 0px;
  cursor: pointer;
  gap: 1rem;
  font-weight: 300;
  align-items: center;
  text-decoration: none;
}

.sidebar li:hover {
  color: rgb(172, 131, 131);
  background-color: rgb(195, 200, 225);
}
.icon {
  float: right;
  cursor: pointer;
  position: relative;
}
.sidebar-closed {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
